<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.register.Dao.RegisterDao">

    <!--统计要新增的用户数量-->
    <select id="countById" parameterType="java.lang.String" resultType="int">
        select count(user_acct)
        from
        t_user_management
        where
        is_deleted = 0
        and
        user_acct = #{userAcct}
    </select>

    <!--新增用户-->
    <insert id="clientRegister" parameterType="com.xzsd.app.register.entity.RegisterEntity">
        insert into t_user_management
        (user_acct,
         user_name,
         user_code,
         user_pwd,
         id_card,
         sex,
         phone,
         email,
         image,
         is_deleted,
         create_by,
         create_time,
         version,
         role
         )

        values
           (#{userAcct},
           #{userName},
           #{userCode},
           #{userPwd},
           #{idCard},
           #{sex},
           #{phone},
           #{email},
           #{imagePath},
           0,
           #{userCode},
           now(),
           0,
           3
            )

    </insert>

    <insert id="addCustomer" parameterType="java.lang.String">
        insert into t_customer
        (user_code,
        store_invitation,
         is_deleted,
         version,
         create_by,
         create_time
        )
        values (
        #{userCode},
        #{inviteCode},
        0,
        0,
        #{userCode},
        now()
        )
    </insert>

</mapper>