<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driverInformation.Dao.DriverDao">

    <!--按实体统计司机编号数量-->
    <select id="countdriverEntity" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity" resultType="int">
        select count(driver_no)
        from
        t_driver
        where
        is_deleted = 0
        and
        driver_no = #{driverNo}
    </select>

    <!--统计用户账号数量-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity" resultType="int">
        select count(user_acct)
        from
        t_user_management
        where
        is_deleted = 0
        and
        user_acct = #{driverAcct}
    </select>
    <select id="countdriverAcct" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity" resultType="int">
        select count(driver_Acct)
        from
        t_driver
        where
        is_deleted = 0
        and
        driver_Acct = #{driverAcct}
    </select>

    <!--统计手机号数量-->
    <select id="countPhone" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity" resultType="int">
        select count(phone)
        from
        t_user_management
        where
        is_deleted = 0
        and
        phone = #{driverPhone}
    </select>
    <select id="countdriverPhone" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity" resultType="int">
        select count(driver_phone)
        from
        t_driver
        where
        is_deleted = 0
        and
        driver_phone = #{driverPhone}
    </select>

    <!--统计身份证-->
    <select id="countIdentify" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity" resultType="int">
        select count(id_card)
        from
        t_user_management
        where
        is_deleted = 0
        and
        id_card = #{idCard}
    </select>
    <select id="countdriverIdentify" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity" resultType="int">
        select count(id_card)
        from
        t_driver
        where
        is_deleted = 0
        and
        id_card = #{idCard}
    </select>

    <!--新增司机-->
    <insert id="addDrive" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity">
        insert into t_driver
        (
         driver_no,
         driver_name,
         driver_phone,
         driver_Acct,
         driver_Pwd,
         id_card,
         province_no,
         city_no,
         county_no,
         is_deleted,
         create_time,
         create_by,
         gmt_modified,
         last_modified_by,
         version)
        values
           (
           #{driverNo},
           #{driverName},
            #{driverPhone},
            #{driverAcct},
            #{driverPwd},
            #{idCard},
            #{province},
            #{city},
            #{county},
            #{is_deleted},
            now(),
            #{create_by},
            now(),
            #{last_modified_by},
            0)
    </insert>

    <!--删除司机信息-->
    <update id="deleteDriver" parameterType="java.lang.String">
        update t_driver
        set
        is_deleted = 1,
        gmt_modified = now(),
        last_modified_by   = #{driverID},
        version = version + 1
        where
        driver_no in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--司机信息详情查询-->
    <select id="queryDriverDetail" parameterType="java.lang.String" resultType="com.xzsd.pc.driverInformation.Entity.DriverEntity">
         select
         driver_name driverName,
         driver_phone driverPhone,
         driver_Acct driverAcct,
         driver_Pwd driverPwd,
         id_card idCard,
         province province,
         city city,
         county county
        from
        t_driver
        where
        driver_no = #{driverNo}
        and
        is_deleted = 0
    </select>

    <!--修改司机信息查询-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity">
        update t_driver
        set
            driver_name    = #{driverName},
            driver_phone    = #{driverPhone},
            id_card      = #{idCard},
            driver_Acct          = #{driverAcct},
            driver_Pwd        = #{driverPwd},
            province        = #{province},
            city           = #{city},
            county         = #{county},
            gmt_modified = now(),
            last_modified_by   = #{last_modified_by},
            version      = version + 1
        where
        driver_no = #{driverNo}
        and
        version = #{version}
    </update>

    <!--   司机列表信息查询-->
    <select id="queryDriversList" parameterType="com.xzsd.pc.driverInformation.Entity.DriverEntity" resultType="com.xzsd.pc.driverInformation.Entity.DriverEntity">
        select
        driver_no driverNo,
        driver_name driverName,
        driver_phone driverPhone,
        id_card idCard,
        province province,
        city city,
        county county,
        driver_Pwd driverPwd,
        driver_Acct driverAcct
        from
        t_driver
        where
        is_deleted = 0
        <if test="driverNo!= null and driverNo != ''">
            and driver_no like concat('%', #{driverNo}, '%')
        </if>
        <if test="driverName != null and driverName != ''">
            and driver_name like concat('%', #{driverName}, '%')
        </if>
        <if test="provinceNo != null and provinceNo != ''">
            and province_no like concat('%', #{provinceNo}, '%')
        </if>
        <if test="cityNo != null and cityNo != ''">
            and city_no like concat('%', #{cityNo}, '%')
        </if>
        <if test="countyNo != null and countyNo != ''">
            and county_no like concat('%', #{countyNo}, '%')
        </if>
    </select>

    <!-- 店长司机列表信息查询-->
    <select id="queryDriversList2" parameterType="com.xzsd.pc.driverInformation.Entity.DriveAreaEntity" resultType="com.xzsd.pc.driverInformation.Entity.DriverEntity">
        select
        driver_no driverNo,
        driver_name driverName,
        driver_phone driverPhone,
        id_card idCard,
        province province,
        city city,
        county county,
        driver_Pwd driverPwd,
        driver_Acct driverAcct
        from
        t_driver
        where
        is_deleted = 0
        and
        province_no = #{provinceNo}
        and
        city_no     = #{cityNo}
        and
        county_no   = #{countyNo}
        <if test="driverNo!= null and driverNo != ''">
            and driver_no like concat('%', #{driverNo}, '%')
        </if>
        <if test="driverName != null and driverName != ''">
            and driver_name like concat('%', #{driverName}, '%')
        </if>
        <if test="provinceNo != null and provinceNo != ''">
            and province_no like concat('%', #{provinceNo}, '%')
        </if>
        <if test="cityNo != null and cityNo != ''">
            and city_no like concat('%', #{cityNo}, '%')
        </if>
        <if test="countyNo != null and countyNo != ''">
            and county_no like concat('%', #{countyNo}, '%')
        </if>
    </select>

    <!--店长门店所在区域-->
    <select id="queryDriversArea" parameterType="java.lang.String" resultType="com.xzsd.pc.driverInformation.Entity.DriveAreaEntity" >
        select
            province_no provinceNo,
            city_no cityNo,
            county_no countyNo
        from
            t_store_information
        where
            user_code= #{userCode}
    </select>

</mapper>